body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #02060a ;
    color: white;
    padding: 3em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    display: grid;
}

main div {
    padding: 8em;
    color: white;
}
.parte1{
    background-color: #02060a ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parte1 h2 {
    font-size: 4rem;
    text-align: left;
    margin-top: 0;
  }
.dream {
    color: rgb(36, 107, 97);
  }
  
.Taay {
    color: rgb(95, 160, 110);
  }
.parte1 p{
    text-align: justify;
    padding: 1em;
    max-width: 300px; /* Ajusta el tamaño máximo del cuadro de texto */
    margin-left: auto;
}
.parte2{
    background-color: #98b7d6 ;
}
.parte3{
    background-color: #2d8049;
}
.parte4{
    background-color: #802d67;
}
.parte5{
    background-color: #78802d;
}
.parte6{
    background-color: #2d6980;
}
.parte7{
    background-color: #804b2d;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5em;
}
