body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #02060a;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    display: grid;
}

main div {
    padding: 5em;
    color: white;
}

.parte1 {
    background-color: #02060a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte1 h2 {
    font-size: 4rem;
    text-align: left;
    margin-top: 0;
}

.dream {
    color: rgb(36, 107, 97);
}

.Taay {
    color: rgb(95, 160, 110);
}

.parte1 p {
    text-align: start;
    max-width: 450px; /* Ajusta el tamaño máximo del cuadro de texto */
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.parte2 {
    background-color: #02060a;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 10px; /* Espacio entre las celdas */
}
.parte2 h2 {
    grid-column: span 2; /* El título abarca ambas columnas */
    margin-bottom: 20px; /* Añade espacio debajo del título */
    font-size: 5rem;
    text-align: start;
    margin-top: 30px;
    color: #03583c;
}
.parte2 p{
    grid-column: span 2; /* El título abarca ambas columnas */
    margin-bottom: 20px; 
    text-align: start;
    font-weight: bold;
    font-size: 1.3rem;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Ajusta el tamaño de las imágenes */
    border-radius: 50px;
    margin-bottom: 30px; /* Espacio entre la imagen y el texto */
}

.item h1 {
    font-size: 1.2rem;
}
.item p{
    text-align: center;
}

.parte3 {
    background-color: #02060a;
}
.alignment-container {
    display: flex;
    align-items: center; 
    gap: 30px;
    padding-top: 0px; 
   
}

.technical {
    color: rgb(36, 107, 97);
    font-weight: bold;
    font-size: 50px;
}

.skills {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.alignment-container img {
    max-width: 500px;
    height: auto; /* Mantiene las proporciones de la imagen */
    margin-left: 170px;
}
.chart-container {
    width: 100%;
    max-width: none; /* Permite que el contenedor use todo el ancho disponible */
    padding: 0;
    box-sizing: border-box;
}
.chart-container h1 {
    font-size: 3rem;
}

.chart-container p {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 70px;
}
.bar {
    height: 5px;
    margin: 10px 0;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 10px;
    align-items: flex-start;
    font-weight: bold;
}
.cpp { background-color: #004482; width: 90%; }
.java { background-color: #f8991d; width: 85%; }
.js { background-color: #f7df1e; width: 80%; }
.python { background-color: #306998; width: 70%; }

.parte4 {
    background-color: #802d67;
}

.parte5 {
    background-color: #78802d;
}

.parte6 {
    background-color: #2d6980;
}

.parte7 {
    background-color: #804b2d;
}

footer {
    background-color: #02060a;
    color: white;
    text-align: center;
    padding: 5em;
}
.infoBox a{
    color: white;
    text-decoration: none;
}
.sci{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci a{
    color: white;
    font-size: 2rem;
}
